# Shift Scheduling Problem
https://www.math.vu.nl/~sbhulai/papers/thesis-dano.pdf

In [1]:
import pandas as pd
import numpy as np
from gurobipy import *
import matplotlib.pyplot as plt

# Subíndices
i=trabajador

t=turno

k=gerente


# Parámetros

$Ntrab_{t}$= Numero de trabajadores requeridos en el turno $t$

$TurnoCost_{i}$= Costo por cada turno realizado por el trabajador $i$

$disponibilidad_{it}=$ si el trabajador $i$ esta disponible durante el turno $t$

minTurnos= El mínimo de turnos que cada trabajador debe realizar
minTurnos= El máximo de turnos que cada trabajador puede realizar

In [2]:
turnos = ['Monday1','Monday2','Tuesday1','Tuesday2','Wednesday1','Wednesday2'
             ,'Thursday1','Thursday2','Friday1','Friday2','Saturday1','Saturday2','Sunday1','Sunday2']
trabajadores=["Ana","Benjamin","Chayanne","Manuel","Luis Miguel","Carlos","Saul","Matias","Liliana","Constanza"]
Ntrab = {'Monday1':3, 'Monday2':2,'Tuesday1':4,'Tuesday2':4,'Wednesday1':5,'Wednesday2':4
             ,'Thursday1':5,'Thursday2':4,'Friday1':2,'Friday2':4,'Saturday1':5,'Saturday2':4,'Sunday1':3,'Sunday2':5}
disponibilidad = {(i,t):1 for i in trabajadores for t in turnos}
# For illustration, assume following people are unavailable: EE02 on Tuesday1, EE05 on Saturday2, EE08 on Thursday1
disponibilidad["Benjamin",'Tuesday1'] = 0
disponibilidad["Matias",'Monday1'] = 0
disponibilidad["Luis Miguel",'Saturday2'] = 0
disponibilidad["Constanza",'Thursday1'] = 0
Gerentes = ["Ana","Chayanne","Luis Miguel","Saul"]
TurnoCost = {"Ana":200,"Benjamin":100,"Chayanne":225,"Manuel":110,
"Luis Miguel":190,"Carlos":105,"Saul":210,"Matias":120,"Liliana":95,"Constanza":100}
minTurnos = 3
maxTurnos = 7

In [3]:
m=Model("Workforce Scheduling")

Academic license - for non-commercial use only - expires 2021-11-29
Using license file C:\Users\pablo\gurobi.lic

# Variables de decisión

$X_{it}$= Si el trabajador i esta disponible en el turno t

In [4]:
x=m.addVars(trabajadores,turnos,name='x',vtype=GRB.BINARY)

# Función Objetivo

$ Min Z= \sum_{\forall{i,j}} X_{ij}*costoTurno_i$

In [5]:
z=quicksum(x[i,t]*TurnoCost[i] for i in trabajadores for t in turnos)
m.setObjective(z,GRB.MINIMIZE)

# Restricciones

Trabajadores requeridos:

$\sum_{\forall{i}} disponibilidad_{it}*x_{it}>= Ntrab[t] \forall t$

Mínimo de turnos:

$\sum_{\forall{t}}x_{it}>= minTurnos \forall i$

Máximo de turnos:

$\sum_{\forall{t}}x_{it}<= maxTurnos \forall i$

Al menos un gerente por turno:

$\sum_{\forall{j}} x_{it}>= 1 \forall t$

In [6]:
m.addConstrs(quicksum(disponibilidad[i,t]*x[i,t] for i in trabajadores)>=Ntrab[t] for t in turnos)

{'Monday1': <gurobi.Constr *Awaiting Model Update*>,
 'Monday2': <gurobi.Constr *Awaiting Model Update*>,
 'Tuesday1': <gurobi.Constr *Awaiting Model Update*>,
 'Tuesday2': <gurobi.Constr *Awaiting Model Update*>,
 'Wednesday1': <gurobi.Constr *Awaiting Model Update*>,
 'Wednesday2': <gurobi.Constr *Awaiting Model Update*>,
 'Thursday1': <gurobi.Constr *Awaiting Model Update*>,
 'Thursday2': <gurobi.Constr *Awaiting Model Update*>,
 'Friday1': <gurobi.Constr *Awaiting Model Update*>,
 'Friday2': <gurobi.Constr *Awaiting Model Update*>,
 'Saturday1': <gurobi.Constr *Awaiting Model Update*>,
 'Saturday2': <gurobi.Constr *Awaiting Model Update*>,
 'Sunday1': <gurobi.Constr *Awaiting Model Update*>,
 'Sunday2': <gurobi.Constr *Awaiting Model Update*>}

In [7]:
m.addConstrs(quicksum(x[j,t] for j in Gerentes)>=1  for t in turnos)

{'Monday1': <gurobi.Constr *Awaiting Model Update*>,
 'Monday2': <gurobi.Constr *Awaiting Model Update*>,
 'Tuesday1': <gurobi.Constr *Awaiting Model Update*>,
 'Tuesday2': <gurobi.Constr *Awaiting Model Update*>,
 'Wednesday1': <gurobi.Constr *Awaiting Model Update*>,
 'Wednesday2': <gurobi.Constr *Awaiting Model Update*>,
 'Thursday1': <gurobi.Constr *Awaiting Model Update*>,
 'Thursday2': <gurobi.Constr *Awaiting Model Update*>,
 'Friday1': <gurobi.Constr *Awaiting Model Update*>,
 'Friday2': <gurobi.Constr *Awaiting Model Update*>,
 'Saturday1': <gurobi.Constr *Awaiting Model Update*>,
 'Saturday2': <gurobi.Constr *Awaiting Model Update*>,
 'Sunday1': <gurobi.Constr *Awaiting Model Update*>,
 'Sunday2': <gurobi.Constr *Awaiting Model Update*>}

In [8]:
m.addConstrs(quicksum(x[i,t] for t in turnos )>=minTurnos  for i in trabajadores)

{'Ana': <gurobi.Constr *Awaiting Model Update*>,
 'Benjamin': <gurobi.Constr *Awaiting Model Update*>,
 'Chayanne': <gurobi.Constr *Awaiting Model Update*>,
 'Manuel': <gurobi.Constr *Awaiting Model Update*>,
 'Luis Miguel': <gurobi.Constr *Awaiting Model Update*>,
 'Carlos': <gurobi.Constr *Awaiting Model Update*>,
 'Saul': <gurobi.Constr *Awaiting Model Update*>,
 'Matias': <gurobi.Constr *Awaiting Model Update*>,
 'Liliana': <gurobi.Constr *Awaiting Model Update*>,
 'Constanza': <gurobi.Constr *Awaiting Model Update*>}

In [9]:
m.addConstrs(quicksum(x[i,t] for t in turnos )<=maxTurnos  for i in trabajadores)

{'Ana': <gurobi.Constr *Awaiting Model Update*>,
 'Benjamin': <gurobi.Constr *Awaiting Model Update*>,
 'Chayanne': <gurobi.Constr *Awaiting Model Update*>,
 'Manuel': <gurobi.Constr *Awaiting Model Update*>,
 'Luis Miguel': <gurobi.Constr *Awaiting Model Update*>,
 'Carlos': <gurobi.Constr *Awaiting Model Update*>,
 'Saul': <gurobi.Constr *Awaiting Model Update*>,
 'Matias': <gurobi.Constr *Awaiting Model Update*>,
 'Liliana': <gurobi.Constr *Awaiting Model Update*>,
 'Constanza': <gurobi.Constr *Awaiting Model Update*>}

In [10]:
m.optimize()

Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (win64)
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads
Optimize a model with 48 rows, 140 columns and 472 nonzeros
Model fingerprint: 0x272dd970
Variable types: 0 continuous, 140 integer (140 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+02, 2e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 7e+00]
Found heuristic solution: objective 7730.0000000
Presolve time: 0.00s
Presolved: 48 rows, 140 columns, 472 nonzeros
Variable types: 0 continuous, 140 integer (140 binary)

Root relaxation: objective 7.025000e+03, 100 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    7025.0000000 7025.00000  0.00%     -    0s

Explored 0 nodes (100 simplex iterations) in 0.01 seconds
Thread count was 16 (of 16 available processors)

Solution count 2: 7025 7730

Optimal solution found (tolerance 1.00e-04)
Best objective 7.025000000000e+03, best bound 7.025000000000e+03, gap 0.0000%

# Solución

In [11]:
#Estado de la solución
if m.status==2:
    print("Función Objetivo: ",str(round(m.objVal,2)))
    for v in m.getVars():
        if v.x>0:
            print(str(v.VarName)+"="+str(round(v.x,2)))
else:
    print("Solución Infactible")

Función Objetivo:  7025.0
x[Ana,Friday2]=1.0
x[Ana,Saturday2]=1.0
x[Ana,Sunday1]=1.0
x[Benjamin,Wednesday2]=1.0
x[Benjamin,Thursday2]=1.0
x[Benjamin,Friday1]=1.0
x[Benjamin,Friday2]=1.0
x[Benjamin,Saturday1]=1.0
x[Benjamin,Saturday2]=1.0
x[Benjamin,Sunday1]=1.0
x[Chayanne,Wednesday2]=1.0
x[Chayanne,Thursday1]=1.0
x[Chayanne,Sunday2]=1.0
x[Manuel,Monday1]=1.0
x[Manuel,Monday2]=1.0
x[Manuel,Tuesday1]=1.0
x[Manuel,Tuesday2]=1.0
x[Manuel,Wednesday2]=1.0
x[Manuel,Thursday1]=1.0
x[Manuel,Saturday1]=1.0
x[Luis Miguel,Monday1]=1.0
x[Luis Miguel,Tuesday1]=1.0
x[Luis Miguel,Wednesday1]=1.0
x[Luis Miguel,Friday1]=1.0
x[Luis Miguel,Saturday1]=1.0
x[Carlos,Tuesday2]=1.0
x[Carlos,Wednesday1]=1.0
x[Carlos,Wednesday2]=1.0
x[Carlos,Thursday1]=1.0
x[Carlos,Saturday1]=1.0
x[Carlos,Saturday2]=1.0
x[Carlos,Sunday2]=1.0
x[Saul,Monday2]=1.0
x[Saul,Tuesday2]=1.0
x[Saul,Thursday2]=1.0
x[Matias,Tuesday1]=1.0
x[Matias,Wednesday1]=1.0
x[Matias,Thursday1]=1.0
x[Matias,Thursday2]=1.0
x[Matias,Sunday2]=1.0
x[Liliana,Tuesday2]=1.0
x[Liliana,Wednesday1]=1.0
x[Liliana,Thursday1]=1.0
x[Liliana,Friday2]=1.0
x[Liliana,Saturday1]=1.0
x[Liliana,Sunday1]=1.0
x[Liliana,Sunday2]=1.0
x[Constanza,Monday1]=1.0
x[Constanza,Tuesday1]=1.0
x[Constanza,Wednesday1]=1.0
x[Constanza,Thursday2]=1.0
x[Constanza,Friday2]=1.0
x[Constanza,Saturday2]=1.0
x[Constanza,Sunday2]=1.0

In [12]:
solucion= pd.DataFrame([[int(x[i,t].x) for t in turnos]  for i in trabajadores],index = trabajadores, columns = turnos)
solucion.style.applymap(lambda x: "background-color: green" if x>0 else "background-color: red")